.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.plans, .provider-type, .num-providers {
  margin: 20px 0;
}


.provider-type > label{
  padding: 20px;
}

.num-providers > label > input{
  margin: 20px;
  padding:5px 10px;
  border-radius: 5px;
}


.plan{
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan > img{
  padding:10px 20px;
  margin-right: 20px;
}

.plan > label{
  font-size: 20px;
}

.estimated-cost {
  font-size: 1.5em;
  margin-top: 20px;
}

